{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "global/partials/head.html" %}
    <title>{% block title %}{% endblock %} Receitas da Dália </title>
</head>

<body>
    
    {% include "global/partials/header.html" %}
    <div class="welcome-banner">
        <h2>Bem-vindo ao nosso site de receitas!</h2>
        <p>Descubra, compartilhe e experimente as melhores receitas.</p>
    </div>
    {% include "global/partials/messages.html" %}
    {% include "global/partials/search.html" %}


    <main class="main-content-container">
        {% block content %}{% endblock content %}
        {% include "global/partials/pagination.html" %}  
    </main>
    
    {% include "global/partials/footer.html" %}

    <div id="global-loader-spinner"></div>
</script>
        <script src="{% static 'global/js/loaderSpinner.js' %}"></script>
        <script src="{% static 'global/js/menu.js' %}"></script>
        <script>
            document.querySelectorAll('form').forEach(function(form) {
                form.addEventListener('submit', function() {
                    LoaderSpinner.show();
                });
            });
        </script>
</body>