

<!-- Botão para abrir menu (visível só no mobile, à esquerda) -->
<button class="button-show-menu" aria-label="Abrir menu">
    <i class="fas fa-bars"></i>
</button>



<!-- Menu left -->
<div class="menu-container menu-hidden">
    
    <nav class="menu-nav menu-content">
        <button class="button-close-menu" aria-label="Fechar menu">
            <i class="fas fa-times"></i>
        </button>
        <a href="">Inicio</a>
        <a href="">Nova Receita</a>
        <a href="">Painel de Controle</a>
        <a href="">Sobre</a>
        <a href="">Sair</a>
    </nav>
</div>