{% extends "global/base.html" %}

{% block title %}Sobre | {% endblock title %}

{% block content %}
<section class="about-container">
    <div class="div-about">
        <h1 class="about-title">Sobre a Confeitaria da Dália</h1>
        <p class="about-description">
            <strong>História</strong><br>
            Fundada em 2015, nossa confeitaria nasceu da vontade de compartilhar o amor por doces com o mundo. Ao longo dos anos, fomos aperfeiçoando nossas receitas e expandindo nosso cardápio, sempre mantendo a qualidade e o sabor como prioridade. Hoje, somos reconhecidos pela excelência e pelo carinho com que preparamos cada produto.
        </p>
        <p class="about-description">
            <strong>Nossa Missão</strong><br>
            Na nossa confeitaria, temos um compromisso: transformar momentos especiais em doces inesquecíveis. Desde o início, nossa paixão pela confeitaria nos guiou a criar produtos frescos, feitos com carinho e ingredientes de qualidade.
        </p>
        <p class="about-description">
            <strong>Diferenciais</strong>
            <ul class="about-differentials">
                <li>Receitas exclusivas e tradicionais</li>
                <li>Personalização para festas e eventos</li>
                <li>Atendimento acolhedor e entrega rápida</li>
                <li>Compromisso com qualidade e higiene</li>
            </ul>
        </p>
        <p class="about-description">
            <br>
            faça seu pedido pelo whatsapp ou online!
        </p>
    </div>
</section>


{% endblock content %}

{% include "recipes/partials/footer.html" %}