.pagination-content {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
}

.pagination .page-item {

  background: var(--color-gray-3);
  padding: 0.5rem 1rem;
}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-primary);
  color: var(--color-white);
}

.pagination .page-current {
  background: var(--color-primary-dark);

}

.pagination-content {
  padding-top: 2rem;  
  display: flex;
  flex-flow: row wrap;
  gap: 1rem 0.5rem;
}
.pagination .page-item {
  background: var(--color-gray-3);
  padding: 0.5rem 1rem;
}

.pagination .page-link {
  text-decoration: none;
  background: var(--color-primary);
  color: var(--color-white);
}

.pagination .page-current {
  background: var(--color-primary-dark);
}