:root {
  --color-primary: #269fe6;
  --color-primary-hover: #2086c2;
  --color-primary-dark: #13141f;
  --color-primary-dark-hover: #212336;
  --color-primary-light: #d4ecfa;
  --color-primary-light-hover: #bdd8e7;


  --color-white: #fff;
  --color-black: #000;

  --color-dark-text: #444;
  --color-info-light: #cce5ff;
  --color-debug-light: #cce5ff;
  --color-success-light: #d4edda;
  --color-alert-light: #fff3cd;
  --color-warning-light: #fff3cd;
  --color-error-light: #f8d7da;
  --color-pink-color: #ff91a4;

  --color-info-dark: #4d86c4;
  --color-debug-dark: #4d86c4;
  --color-success-dark: #4a9c5d;
  --color-alert-dark: #927f40;
  --color-warning-dark: #927f40;
  --color-error-dark: #da525d;

  --color-gray-0: #f9f9f9;
  --color-gray-1: #e0e0e0;
  --color-gray-2: #c7c7c7;
  --color-gray-3: #aeaeae;
  --color-gray-4: #959595;
  --color-gray-5: #7d7d7d;
  --color-gray-6: #646464;
  --color-gray-7: #4b4b4b;
  --color-gray-8: #323232;
  --color-gray-9: #191919;

  --font-primary: sans-serif;
  --font-headings: "Roboto", sans-serif;

  --spacing-gutter-medium: 3rem;
  --spacing-gutter-large: 4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--font-primary);
    background-color: var(--color-gray-1);
    color: var(--color-dark-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
}

a {
    color: var(--color-primary);
    text-decoration: none;
}

/* HEADER */
/* Container Header */
.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: 0 var(--spacing-gutter-medium);
}

.main-header-container {
    background-color: var(--color-gray-9);
}

.logo-container {
  width: 20rem;
  height: 16rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

/* LOGO  */
.main-logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  display: block;
}

.main-logo {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0 auto;
}

.main-logo-text {
  font-family: "Roboto", sans-serif;
  color: var(--color-white);
  text-align: center;
  margin-bottom: var(--spacing-gutter-small);

}

.fa-solid {
  margin-right:1rem;
  margin-left: 1rem;
  color: var(--color-white);
  margin-bottom: var(--spacing-gutter-small);
}


.main-content {
  padding-top: 0;
}

.main-content-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: var(--spacing-gutter-large);
}

/* SEARCH */
.search-container {
  padding: var(--spacing-gutter-medium) ;
  
}


.search-form {
  border: 0.2rem solid var(--color-primary-dark);
  max-width: 64rem;
  margin: 0 auto;
  border-radius: 0.4rem;
  position: relative;
  transition: all 300ms ease-in-out;
}

.search-input,
.search-button {
  border: none;
  background: none;
  outline: none;
  padding: 1rem;
  transition: all 300ms ease-in-out;
}

.search-input {
  width: 100%;
  padding-right: 3rem;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
}

.search-button:focus {
  outline: 1px solid var(--color-primary);
  background: rgba(0, 0, 0, 0.05);
}

.search-form:focus-within {
  border-color: var(--color-primary);
  background: var(--color-white);
}

.search-form:focus-within .search-button {
  color: var(--color-primary);
}

/* GENERICS */
.center {
    text-align: center;
}







/* FOOTER */
.main-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-gray-9);
    padding: var(--spacing-gutter-medium);
    margin-top: var(--spacing-gutter-large);
    
}

.main-footer a {
  color: var(--color-white);
  text-decoration: none;
  transition: all 300ms ease-in-out;
}

.main-footer a:hover {
  filter: brightness(0.8);
}


























@media (max-width: 600px) {
  .main-content-list,
  .form-content-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}